# Data Science with Python and Dask
## Chapter 4: Loading Data Into DataFrames

In [1]:
# Before beginning, set your working directory to where the data resides
import os
os.chdir('/Users/Abba/Documents/data-science-python-dask')

### Section 4.1

In [2]:
# Listing 4.1
import dask.dataframe as dd
from dask.diagnostics import ProgressBar

fy14 = dd.read_csv('nyc-parking-tickets/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv')
fy15 = dd.read_csv('nyc-parking-tickets/Parking_Violations_Issued_-_Fiscal_Year_2015.csv')
fy16 = dd.read_csv('nyc-parking-tickets/Parking_Violations_Issued_-_Fiscal_Year_2016.csv')
fy17 = dd.read_csv('nyc-parking-tickets/Parking_Violations_Issued_-_Fiscal_Year_2017.csv')
fy17

Dask DataFrame Structure:
               Summons Number Plate ID Registration State Plate Type Issue Date Violation Code Vehicle Body Type Vehicle Make Issuing Agency Street Code1 Street Code2 Street Code3 Vehicle Expiration Date Violation Location Violation Precinct Issuer Precinct Issuer Code Issuer Command Issuer Squad Violation Time Time First Observed Violation County Violation In Front Of Or Opposite House Number Street Name Intersecting Street Date First Observed Law Section Sub Division Violation Legal Code Days Parking In Effect     From Hours In Effect To Hours In Effect Vehicle Color Unregistered Vehicle? Vehicle Year Meter Number Feet From Curb Violation Post Code Violation Description No Standing or Stopping Violation Hydrant Violation Double Parking Violation
npartitions=32
                        int64   string             string     string     string          int64            string       string         string        int64        int64        int64                   int64            float64              int64           int64       int64         string       string         string             float64           string                            string      float64      string              string               int64       int64       string               string                     string               string             string        string               float64        int64       string          int64              string                string                           float64           float64                  float64
                          ...      ...                ...        ...        ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...                 ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                        ...                  ...                ...           ...                   ...          ...          ...            ...                 ...                   ...                               ...               ...                      ...
...                       ...      ...                ...        ...        ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...                 ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                        ...                  ...                ...           ...                   ...          ...          ...            ...                 ...                   ...                               ...               ...                      ...
                          ...      ...                ...        ...        ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...                 ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                        ...                  ...                ...           ...                   ...          ...          ...            ...                 ...                   ...                               ...               ...                      ...
                          ...      ...                ...        ...        ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...                 ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                        ...                  ...                ...           ...                   ...          ...          ...            ...                 ...                   ...                               ...               ...                      ...
Dask Name: to_string_dtype, 2 expressions
Expr=ArrowStringConversion(frame=FromMapProjectable(cee7bd9))

In [3]:
# Listing 4.2
fy17.columns

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect    ',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [4]:
# Listing 4.3
# Import for Python 3.x
from functools import reduce

columns = [set(fy14.columns),
    set(fy15.columns),
    set(fy16.columns),
    set(fy17.columns)]
common_columns = list(reduce(lambda a, i: a.intersection(i), columns))
common_columns

['Street Name',
 'Law Section',
 'Sub Division',
 'Vehicle Make',
 'Summons Number',
 'Violation County',
 'Issuer Squad',
 'Violation Post Code',
 'To Hours In Effect',
 'Plate ID',
 'Vehicle Color',
 'Violation Code',
 'Unregistered Vehicle?',
 'Issue Date',
 'Registration State',
 'House Number',
 'Issuing Agency',
 'Meter Number',
 'Time First Observed',
 'From Hours In Effect',
 'Hydrant Violation',
 'Plate Type',
 'Violation In Front Of Or Opposite',
 'Double Parking Violation',
 'Vehicle Expiration Date',
 'Violation Location',
 'Issuer Command',
 'Issuer Code',
 'Feet From Curb',
 'Vehicle Body Type',
 'Intersecting Street',
 'Vehicle Year',
 'Street Code3',
 'Violation Description',
 'Violation Time',
 'No Standing or Stopping Violation',
 'Violation Precinct',
 'Street Code1',
 'Issuer Precinct',
 'Date First Observed',
 'Street Code2',
 'Days Parking In Effect    ',
 'Violation Legal Code']

In [7]:
# Listing 4.4
fy17[common_columns].head()

,Feet From Curb,No Standing or Stopping Violation,Vehicle Color,Meter Number,Violation Description,Vehicle Year,Street Code1,Date First Observed,To Hours In Effect,Summons Number,...,Street Name,Violation Legal Code,Time First Observed,Issuer Code,Issuer Command,Street Code2,House Number,Violation Precinct,Sub Division,Hydrant Violation
0,0,NaN,GY,NaN,FAILURE TO STOP AT RED LIGHT,2001,0,0,NaN,5092469481,...,ALLERTON AVE (W/B) @,T,NaN,0,NaN,0,NaN,0,D,NaN
1,0,NaN,GY,NaN,FAILURE TO STOP AT RED LIGHT,2001,0,0,NaN,5092451658,...,ALLERTON AVE (W/B) @,T,NaN,0,NaN,0,NaN,0,D,NaN
2,0,NaN,BK,NaN,BUS LANE VIOLATION,2004,0,0,NaN,4006265037,...,SB WEBSTER AVE @ E 1,T,NaN,0,NaN,0,NaN,0,C,NaN
3,0,NaN,WH,NaN,47-Double PKG-Midtown,2007,10610,0,0700P,8478629828,...,7th Ave,NaN,NaN,359594,T102,34330,330,14,l2,NaN
4,0,NaN,WHITE,NaN,69-Failure to Disp Muni Recpt,2007,10510,0,0700P,7868300310,...,6th Ave,NaN,NaN,364832,T102,34310,799,13,h1,NaN

In [5]:
# Listing 4.5
# Note: This is supposed to produce an error - scroll down and inspect the ValueError
fy14[common_columns].head()

C:\Users\Abba\miniforge3\envs\dask\Lib\site-packages\dask\dataframe\io\csv.py:77: DtypeWarning: Columns (18,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+-----------------------+---------+----------+
| Column                | Found   | Expected |
+-----------------------+---------+----------+
| House Number          | object  | float64  |
| Issuer Command        | object  | int64    |
| Issuer Squad          | object  | int64    |
| Time First Observed   | object  | float64  |
| Unregistered Vehicle? | float64 | int64    |
| Violation Description | object  | float64  |
| Violation Legal Code  | object  | float64  |
| Violation Location    | float64 | int64    |
| Violation Post Code   | object  | float64  |
+-----------------------+---------+----------+

The following columns also raised exceptions on conversion:

- House Number
  ValueError("could not convert string to float: '67-21'")
- Issuer Command
  ValueError("invalid literal for int() with base 10: 'T730'")
- Issuer Squad
  ValueError('cannot convert float NaN to integer')
- Time First Observed
  ValueError("could not convert string to float: '1134P'")
- Violation Description
  ValueError("could not convert string to float: 'BUS LANE VIOLATION'")
- Violation Legal Code
  ValueError("could not convert string to float: 'T'")
- Violation Post Code
  ValueError("could not convert string to float: 'H -'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'House Number': 'object',
       'Issuer Command': 'object',
       'Issuer Squad': 'object',
       'Time First Observed': 'object',
       'Unregistered Vehicle?': 'float64',
       'Violation Description': 'object',
       'Violation Legal Code': 'object',
       'Violation Location': 'float64',
       'Violation Post Code': 'object'}

to the call to `read_csv`/`read_table`.

### Section 4.1.2

In [7]:
# Listing 4.6
import numpy as np
import pandas as pd

dtype_tuples = [(x, 'str') for x in common_columns] #'str' was a deprecated alias for the builtin 'str'; just use str
dtypes = dict(dtype_tuples)
dtypes

{'Street Name': 'str',
 'Law Section': 'str',
 'Sub Division': 'str',
 'Vehicle Make': 'str',
 'Summons Number': 'str',
 'Violation County': 'str',
 'Issuer Squad': 'str',
 'Violation Post Code': 'str',
 'To Hours In Effect': 'str',
 'Plate ID': 'str',
 'Vehicle Color': 'str',
 'Violation Code': 'str',
 'Unregistered Vehicle?': 'str',
 'Issue Date': 'str',
 'Registration State': 'str',
 'House Number': 'str',
 'Issuing Agency': 'str',
 'Meter Number': 'str',
 'Time First Observed': 'str',
 'From Hours In Effect': 'str',
 'Hydrant Violation': 'str',
 'Plate Type': 'str',
 'Violation In Front Of Or Opposite': 'str',
 'Double Parking Violation': 'str',
 'Vehicle Expiration Date': 'str',
 'Violation Location': 'str',
 'Issuer Command': 'str',
 'Issuer Code': 'str',
 'Feet From Curb': 'str',
 'Vehicle Body Type': 'str',
 'Intersecting Street': 'str',
 'Vehicle Year': 'str',
 'Street Code3': 'str',
 'Violation Description': 'str',
 'Violation Time': 'str',
 'No Standing or Stopping Violation': 'str',
 'Violation Precinct': 'str',
 'Street Code1': 'str',
 'Issuer Precinct': 'str',
 'Date First Observed': 'str',
 'Street Code2': 'str',
 'Days Parking In Effect    ': 'str',
 'Violation Legal Code': 'str'}

In [8]:
# Listing 4.7
fy14 = dd.read_csv('nyc-parking-tickets/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv', dtype=dtypes)

with ProgressBar():
    display(fy14[common_columns].head())

[########################################] | 100% Completed | 1.69 ss

,Street Name,Law Section,Sub Division,Vehicle Make,Summons Number,Violation County,Issuer Squad,Violation Post Code,To Hours In Effect,Plate ID,...,Violation Description,Violation Time,No Standing or Stopping Violation,Violation Precinct,Street Code1,Issuer Precinct,Date First Observed,Street Code2,Days Parking In Effect,Violation Legal Code
0,W 175 ST,408,F1,AUDI,1283294138,<NA>,0000,<NA>,ALL,GBB9093,...,<NA>,0752A,<NA>,33,37250,33,0,13610,BBBBBBB,<NA>
1,W 177 ST,408,C,FORD,1283294151,NY,0000,<NA>,ALL,62416MB,...,<NA>,1240P,<NA>,33,37290,33,0,40404,BBBBBBB,<NA>
2,W 163 ST,408,F7,CHEVR,1283294163,NY,0000,<NA>,ALL,78755JZ,...,<NA>,1243P,<NA>,33,37030,33,0,31190,BBBBBBB,<NA>
3,W 176 ST,408,F1,FORD,1283294175,NY,0000,<NA>,ALL,63009MA,...,<NA>,0232P,<NA>,33,37270,33,0,11710,BBBBBBB,<NA>
4,W 174 ST,408,E1,GMC,1283294187,NY,0000,<NA>,ALL,91648MC,...,<NA>,1239P,<NA>,33,37240,33,0,12010,BBBBBBB,<NA>

In [13]:
# Listing 4.8
with ProgressBar():
    print(fy14['Vehicle Year'].unique().head(10, npartitions=3))

[########################################] | 100% Completed | 66.05 s
0    1979
1    2065
2    2045
3    2037
0    2007
1    1993
2    2014
3    1977
4    2025
5    2034
Name: Vehicle Year, dtype: string

In [21]:
# Listing 4.9
with ProgressBar():
    print(fy14['Vehicle Year'].isnull().values.any().compute())

[########################################] | 100% Completed |  1min 13.6s
True

In [11]:
# Listing 4.10
dtypes = {
 'Date First Observed': 'str',
 'Days Parking In Effect    ': 'str',
 'Double Parking Violation': 'str',
 'Feet From Curb': np.float32,
 'From Hours In Effect': 'str',
 'House Number': 'str',
 'Hydrant Violation': 'str',
 'Intersecting Street': 'str',
 'Issue Date': 'str',
 'Issuer Code': np.float32,
 'Issuer Command': 'str',
 'Issuer Precinct': np.float32,
 'Issuer Squad': 'str',
 'Issuing Agency': 'str',
 'Law Section': np.float32,
 'Meter Number': 'str',
 'No Standing or Stopping Violation': 'str',
 'Plate ID': 'str',
 'Plate Type': 'str',
 'Registration State': 'str',
 'Street Code1': np.uint32,
 'Street Code2': np.uint32,
 'Street Code3': np.uint32,
 'Street Name': 'str',
 'Sub Division': 'str',
 'Summons Number': np.uint32,
 'Time First Observed': 'str',
 'To Hours In Effect': 'str',
 'Unregistered Vehicle?': 'str',
 'Vehicle Body Type': 'str',
 'Vehicle Color': 'str',
 'Vehicle Expiration Date': 'str',
 'Vehicle Make': 'str',
 'Vehicle Year': np.float32,
 'Violation Code': np.uint16,
 'Violation County': 'str',
 'Violation Description': 'str',
 'Violation In Front Of Or Opposite': 'str',
 'Violation Legal Code': 'str',
 'Violation Location': 'str',
 'Violation Post Code': 'str',
 'Violation Precinct': np.float32,
 'Violation Time': 'str'
}

In [12]:
# Listing 4.11
data = dd.read_csv('nyc-parking-tickets/*.csv', dtype=dtypes, usecols=common_columns)

### Section 4.2

In [ ]:
# Listing 4.12
username = 'jesse'
password = 'DataScienceRulez'
hostname = 'localhost'
database_name = 'DSAS'
odbc_driver = 'ODBC+Driver+13+for+SQL+Server'

connection_string = 'mssql+pyodbc://{0}:{1}@{2}/{3}?driver={4}'.format(username, password, hostname, database_name, odbc_driver)

data = dd.read_sql_table('violations', connection_string, index_col='Summons Number')

In [ ]:
# Listing 4.13
data = dd.read_sql_table('violations', connection_string, index_col='Vehicle Color', npartitions=200)

In [ ]:
# Listing 4.14
partition_boundaries = sorted(['Red', 'Blue', 'White', 'Black', 'Silver', 'Yellow'])

data = dd.read_sql_table('violations', connection_string, index_col='Vehicle Color', divisions=partition_boundaries)

In [ ]:
# Listing 4.15
column_filter = ['Summons Number', 'Plate ID', 'Vehicle Color']
data = dd.read_sql_table('violations', connection_string, index_col='Summons Number', columns=column_filter)

In [ ]:
# Listing 4.16
data = dd.read_sql_table('violations', connection_string, index_col='Summons Number', schema='chapterFour')

### Section 4.3

In [ ]:
# Listing 4.17
data = dd.read_csv('hdfs://localhost/nyc-parking-tickets/*.csv', dtype=dtypes, usecols=common_columns)

In [ ]:
# Listing 4.18
data = dd.read_csv('s3://my-bucket/nyc-parking-tickets/*.csv', dtype=dtypes, usecols=common_columns)

### Section 4.4

In [ ]:
# Listing 4.19
data = dd.read_parquet('nyc-parking-tickets-prq')

In [ ]:
# Listing 4.20
data = dd.read_parquet('hdfs://localhost/nyc-parking-tickets-prq')

# OR

data = dd.read_parquet('s3://my-bucket/nyc-parking-tickets-prq')

In [ ]:
# Listing 4.21
columms = ['Summons Number', 'Plate ID', 'Vehicle Color']
data = dd.read_parquet('nyc-parking-tickets-prq', columns=columns, index='Plate ID')